apiVersion: apps/v1
kind: Deployment
metadata:
  name: energy-web
  namespace: energy-mlops
  labels:
    app: energy-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: energy-web
  template:
    metadata:
      labels:
        app: energy-web
    spec:
      containers:
      - name: web
        image: arcenergy123-bgaycrdwf4gecpfv.azurecr.io/energy-web:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      imagePullSecrets:
      - name: acr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: energy-web
  namespace: energy-mlops
  labels:
    app: energy-web
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30081
    protocol: TCP
    name: http
  selector:
    app: energy-web